.volusion-bigcommerce-comparison {
	.hero{
		background-image: url(/assets/images/volusion-bigcommerce-comparison-Bigcommerce_Hero_3_3.jpg);
		.modal-trigger {
			height:100px;
			width:50px;
			margin:auto;
		}
		@media #{$xsmall-only} {
	    max-height: 450px;
	    h1 {
	    	font-size:1.75em;
	    }
	    h2 {
	    	font-size:0.875em;
	    }
	  }
	}
	.subnav {
    height: 100px;
    max-width: 1200px;
    margin: auto;
		.tab {
			padding:0;
			border:1px solid #8c8c8c;
			@media #{$small-only} {
    		width: 48%;
		  }
		  @media #{$small-and-down} {
		    border:1px solid #8c8c8c!important;
		    border-radius: 0px!important;
        margin: 2px;
		  }
			a {
				display:block;
				padding:10px 0;
				font-size:18px;
		    white-space: nowrap;
				@media #{$xsmall-only} {
		  		text-align: left;
		  		padding-left:10px;
			  }
				i {
			    position: relative;
    			top: 5px;
    			padding-right:10px;
				}
				.fa-thumbs-up {
			    font-size: 24px;
			    height: 24px;
			    top: 0;
			    padding-top:4px;
				}
			}
		}
		.first {
			border-right: none;
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
		}
		.third {
			border-left:none;
			border-right:none;
		}
		.last {
			border-right:1px solid #8c8c8c;
			border-top:1px solid #8c8c8c;
			border-bottom:1px solid #8c8c8c;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	.switching {
		.switching-text {
			@media #{$large-and-down} {
		    padding-top:10px!important;
		  }
		}
		h3 {
	  	@media #{$xsmall-only} {
	  		font-size:2.5em;
	  	}
	  }
	}
}
