<footer class="page-footer">
  <section class="footer-clients-partial white padding-top-m padding-bottom-m">
    <div class="container text-center">
      <div class="hide-on-small-and-down">
        <img class="full-width margin-top-xs" src="https://volusion.com/assets/images/partial-footerClients-logos-v3.jpg" alt="Ecommerce citations">
      </div>
      <div class="hide-on-medium-and-up margin-top-xs">
        <img src="https://volusion.com/assets/images/partial-footerClients-logos-sm-v3.png" alt="Volusion Clients" class="responsive-img">
      </div>
    </div>
    <!-- .container -->
  </section>
  <!-- .footer-clients-partial -->
  <section class="footer-clients-partial white padding-top-m padding-bottom-m">
    <div class="container text-center">
      <div class="hide-on-small-and-down">
        <img class="full-width margin-top-xs" src="https://volusion.com/assets/images/partial-footerClients-logosV2.jpg" alt="Ecommerce citations">
      </div>
      <div class="hide-on-medium-and-up margin-top-xs">
        <!-- <img src="https://volusion.com/assets/images/homepage_brand_logos_top_sm.png" alt="Ecommerce citations top" width="476" height="39" class="mobile-show responsive-img">
      <img src="https://volusion.com/assets/images/homepage_brand_logos_bottom_sm.png" alt="Ecommerce citations botttom" width="528" height="39" class="mobile-show responsive-img"> -->
        <img src="https://volusion.com/assets/images/partial-footerClients-logos-sm.png" alt="Volusion Clients" class="responsive-img">
      </div>
    </div>
    <!-- .container -->
  </section>
  <!-- .footer-clients-partial -->
  <section class="text-white padding-top-l grey darken-2">
    <div class="container">
      <div class="row margin-bottom-0">
        <div class="col xs12 s6 l3 margin-bottom-m">
          <a class="turquoise btn-flat text-white js-hide-element" title="Plans & pricing" href="/hosting-plans-pricing">Plans & pricing</a>
        </div>
        <!-- .col -->
        <div class="col xs12 s6 l3 margin-bottom-m">
          <a class="red btn-flat text-white js-toggle-cta" data-new-cta="Buy now" data-new-url="/hosting-plans-pricing" title="Try it free" href="/free-trial">Try it free</a>
        </div>
        <!-- .col -->
        <div class="col xs12 s6 l6 margin-bottom-m">
          <div class="social">
            <a href="https://www.facebook.com/Volusion" target="_blank" title="Follow Volusion on Facebook" data-adata="footer_link_facebook"><i class="fa fa-facebook fa-2x valign-middle"></i></a>
            <a href="https://twitter.com/volusion" target="_blank" title="Follow Volusion on Twitter" data-adata="footer_link_twitter"><i class="fa fa-twitter fa-2x valign-middle"></i></a>
            <a href="https://www.pinterest.com/volusion/" target="_blank" title="Follow Volusion on Pinterest" data-adata="footer_link_pinterest"><i class="fa fa-pinterest fa-2x valign-middle"></i></a>
            <a href="https://www.linkedin.com/company/volusion" target="_blank" title="Follow Volusion on Linkedin" data-adata="footer_link_linkedin"><i class="fa fa-linkedin fa-2x valign-middle"></i></a>
            <a href="https://www.youtube.com/user/volusion" target="_blank" title="Follow Volusion on Youtube" data-adata="footer_link_youtube"><i class="fa fa-youtube fa-2x valign-middle"></i></a>
            <a href="https://plus.google.com/+volusion/posts" target="_blank" title="Follow Volusion on Google plus" data-adata="footer_link_google-"><i class="fa fa-google-plus fa-2x valign-middle"></i></a>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- row end -->
    </div>
    <!-- container -->
  </section>
  <section class="text-white grey darken-2">
    <div class="container">
      <div class="row margin-bottom-0">
        <div class="col xs12 s6 l3 margin-bottom-s">
          <p class="h4 text-light">Ecommerce Software</p>
          <ul class="text-smooth">
            <li><a href="/ecommerce-website-builder" title="Online Store Builder" data-adata="footer_link_online-store-builder">Online Store Builder</a></li>
            <li><a href="http://ecommerce-templates.volusion.com/" title="Ecommerce Templates" data-adata="footer_link_ecommerce-templates">Ecommerce Templates</a></li>
            <li><a href="/how-to-sell-products-online" title="Sell Online" data-adata="footer_link_sell-online">Sell Online</a></li>
            <li><a href="/mobile-commerce-solution" title="Mobile Commerce" data-adata="footer_link_mobile-commerce">Mobile Commerce</a></li>
            <li><a href="/ecommerce-client-gallery" title="Merchant Gallery" data-adata="footer_link_merchant-gallery">Merchant Gallery</a></li>
          </ul>
        </div>
        <div class="col xs12 s6 l3 margin-bottom-s">
          <p class="h4 text-light">Resources</p>
          <ul class="text-smooth">
            <li><a href="/online-store/getting-started" title="Getting Started Guide" data-adata="footer_link_start-your-store-guide">Start Your Store Guide</a></li>
            <li><a href="/ecommerce-website-design-services" title="Ecommerce Design" data-adata="footer_link_ecommerce-design">Ecommerce Design</a></li>
            <li><a href="/ecommerce-marketing-services" title="Ecommerce Marketing" data-adata="footer_link_ecommerce-marketing">Ecommerce Marketing</a></li>
            <li><a href="/ecommerce-blog" title="Ecommerce Blog" data-adata="footer_link_ecommerce-blog">Ecommerce Blog</a></li>
            <li><a href="/become-partner" title="Become a Partner" data-adata="footer_link_become-a-partner">Become a Partner</a></li>
            <li><a href="https://support.volusion.com/hc/en-us/" title="Expert Support" data-adata="footer_link_expert-support">Expert Support</a></li>
            <li><a href="/faqs" title="FAQs" data-adata="footer_link_faqs">FAQs</a></li>
          </ul>
        </div>
        <div class="col xs12 s6 l3 margin-bottom-s">
          <p class="h4 text-light">Volusion</p>
          <ul class="text-smooth">
            <li><a href="/history" title="About" data-adata="footer_link_about">About</a></li>
            <li><a href="/careers" title="Careers" data-adata="footer_link_careers">Careers</a></li>
            <li><a href="/press" title="Press" data-adata="footer_link_press">Press</a></li>
            <li><a href="/legal" title="Legal" data-adata="footer_link_legal">Legal</a></li>
            <li><a href="/site-map" title="Sitemap" data-adata="footer_link_sitemap">Sitemap</a></li>
            <li><a href="https://www.mozu.com" title="Mozu Commerce" data-adata="footer_link_mozu-commerce">Mozu Commerce</a></li>
            <li><a href="/uk" id="setGeoUK" title="Volusion UK" class="geo-toggle" data-adata="footer_link_volusion-uk">Volusion UK</a></li>
            <li><a href="/" id="setGeoUS" title="Volusion US" class="geo-toggle active" data-adata="footer_link_volusion-us">Volusion US</a></li>
          </ul>
        </div>
        <div class="col xs12 s6 l3 margin-bottom-s">
          <p class="h4 text-light">Contact Us</p>
          <ul class="text-smooth">
            <li><a href="tel:+18006463517" title="phone" data-adata="footer_link_18006463517">1-800-646-3517</a></li>
            <li><a onclick="return VolusionChat.startLink();" title="live chat" data-adata="footer_link_live-chat">Live Chat</a></li>
            <li><a href="mailto:sales@volusion.com?subject=Question%20about%20Volusion" title="Email Us" data-adata="footer_link_email-us">Email Us</a></li>
          </ul>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </section>
  <section class="grey darken-2 center-align text-small text-grey text-lighten-1 padding-top-m padding-bottom-m">
    © 1999-2016 Volusion, LLC. All Rights Reserved.
  </section>
  <!-- footer-copyright -->
</footer>