<header>
  <div class="navbar-fixed">
    <nav class="top-nav">
      <div class="container pos-r">
        <div class="row margin-bottom-0">
          <div class="col-logo col xs3 m1-half">
            <a href="/" title="Home" rel="home" class="logo" data-adata="navigation_link_Ecommerce-Software-by-Volusion-img">
              <img src="https://volusion.com/assets/images/global-nav-volusion-logo-lg.png" class="responsive-img" width="308" height="75" alt="Ecommerce Software by Volusion">
            </a>
          </div>
          <!-- .col -->
          <div class="col-links col xs5 m6 text-center">
            <!-- Dropdown Trigger -->
            <a class="mobile-button hide-on-medium-and-up btn border-purple text-purple transparent full-width" href='#' title="Menu" data-adata="navigation_menu_button"><i class="material-icons">menu</i> <span>Menu</span></a>
            <!-- Mobile Nav Links -->
            <ul class="mobile-nav hide-on-medium-and-up">
              <li>
                <a href="/ecommerce-website-builder" title="Best Ecommerce Website Builder & Online Store Creator" data-adata="mobile-navigation_features_link">Features</a>
              </li>
              <li>
                <a href="/hosting-plans-pricing" title="Pricing & Packages" data-adata="mobile-navigation_pricing_link">Pricing</a>
              </li>
              <li>
                <a href="/ecommerce-client-gallery" title="Ecommerce Design Gallery" data-adata="mobile-navigation_gallery_link">Gallery</a>
              </li>
              <li>
                <a href="/ecommerce-services" title="E-commerce Services & Solutions for your online store" data-adata="mobile-navigation_services_link">Services</a>
              </li>
              <li>
                <a href="/ecommerce-library" title="Ecommerce Support from Volusion" data-adata="mobile-navigation_resources_link">Resources</a>
              </li>
            </ul>
            <!-- .mobile-nav -->
            <!-- Desktop Nav Links -->
            <ul class="dektop-nav hide-on-small-and-down row margin-bottom-0">
              <li class="col xs2-4"><a href="/ecommerce-website-builder" title="Best Ecommerce Website Builder & Online Store Creator" data-adata="navigation_features_link">Features</a></li>
              <li class="col xs2-4"><a href="/hosting-plans-pricing" title="Pricing & Packages" data-adata="navigation_pricing_link">Pricing</a></li>
              <li class="col xs2-4"><a href="/ecommerce-client-gallery" title="Ecommerce Design Gallery" data-adata="navigation_gallery_link">Gallery</a></li>
              <li class="col xs2-4 has-children"><a href="/ecommerce-services" title="E-commerce Services & Solutions for your online store" data-adata="navigation_services_link">Services <span class="chevron-down"></span></a>
                <div class="dropdown row margin-0">
                  <div class="col xs3 text-center">
                    <a href="tel:+18775917005" title="Navigation Services" data-adata="navigation_services_link_beautiful-premium-templates-call-18775917005">Beautiful Premium Templates <br>Call 1-877-591-7005</a>
                    <img src="https://volusion.com/assets/images/global-nav-services.jpg" alt="Custom design packages" width="187" height="151" class="max-width height-auto">
                  </div>
                  <div class="col xs3">
                    <a href="/ecommerce-website-design-services" title="Website Design Company & Services for Ecommerce" data-adata="navigation_services_link_web-design">Web Design</a>
                    <ul>
                      <li><a href="/custom-ecommerce-web-design-pricing" data-adata="navigation_services_link_design-packages" title="Custom Ecommerce Web Design Pricing for Online Stores">Design Packages</a></li>
                      <li><a href="http://ecommerce-templates.volusion.com/?price=0" title="SEO Friendly Free Template or Custom Ecommerce Site Design" data-adata="navigation_services_link_free-templates">Free Templates</a></li>
                      <li><a href="http://ecommerce-templates.volusion.com/?price=50,150,595,895" title="Ecommerce Templates by Volusion" data-adata="navigation_services_link_premium-templates">Premium Templates</a></li>
                    </ul>
                  </div>
                  <div class="col xs3">
                    <a href="/ecommerce-marketing-services" title="Ecommerce Marketing Services: SEO, PPC, Shopping Feeds & More" data-adata="navigation_services_link_marketing">Marketing</a>
                    <ul>
                      <li><a href="/ecommerce-seo-services" title="Ecommerce SEO Services & Package Solutions" data-adata="navigation_services_link_seo">SEO</a></li>
                      <li><a href="/ecommerce-ppc" title="Ecommerce PPC Marketing Services & Solutions" data-adata="navigation_services_link_ppc">PPC</a></li>
                      <li><a href="/comparison-shopping-engine-feed-management" title="Comparison Shopping Engine (CSE) Feed Management by Volusion" data-adata="navigation_services_link_shopping-feeds">Shopping Feeds</a></li>
                      <li><a href="/ecommerce-social-media-marketing-services" title="Social Commerce - Social Media Marketing for Ecommerce" data-adata="navigation_services_link_social-media">Social Media</a></li>
                    </ul>
                  </div>
                  <div class="col xs3">
                    <a href="/ecommerce-business-tools" title="Ecommerce Business Tools for Your Online Store " data-adata="navigation_services_link_business-tools">Business Tools</a>
                    <ul>
                      <li><a href="/ecommerce-credit-card-processing" data-adata="navigation_services_link_credit-card-processing" title="Credit Card Merchant Services & Processing Online">Credit Card Processing</a></li>
                      <li><a href="/ecommerce-ssl-certificates" title="SSL Certificates for Secure Shopping Carts" data-adata="navigation_services_link_ssl-certificates">SSL Certificates</a></li>
                      <li><a href="/domain-name-registration/domain-name-registration.aspx" title="
Volusion Domain Name Registration - Search Domains from $11.99!" data-adata="navigation_services_link_domain-names">Domain Names</a></li>
                      <li><a href="/ecommerce-live-chat-software" title="Ecommerce Live Chat Software & Online Support Solutions" data-adata="navigation_services_link_live-chat-software">Live Chat Software</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="col xs2-4 has-children"><a href="/ecommerce-library" title="Ecommerce Resources from Volusion" data-adata="navigation_resources_link">Resources <span class="chevron-down"></span></a>
                <div class="dropdown row margin-0">
                  <div class="col s3 text-center">
                    <img src="https://volusion.com/assets/images/global-nav-resources.jpg" alt="Ecommerce Blog" width="171" height="170" class="max-width height-auto" />
                    <span class="learn">Learn something new </span>
                    <a href="/ecommerce-blog" title="Ecommerce Insights Blog for Performance Marketers & Designers" data-adata="navigation_resources_link_ecommerce-blog">Volusion Blog</a>
                  </div>
                  <div class="col s3 has-children">
                    <div class="a">Learning Center</div>
                    <ul>
                      <li><a href="/ecommerce-blog" title="Ecommerce Insights Blog for Performance Marketers & Designers" data-adata="navigation_resources_link_ecommerce-blog">Volusion Blog</a></li>
                      <li><a href="/ecommerce-library" title="Ecommerce Library" data-adata="navigation_resources_link_library">Library</a></li>
                      <li><a href="/ecommerce-testimonials" title="Customer Testimonials" data-adata="navigation_resources_link_testimonials">Testimonials</a></li>
                    </ul>
                  </div>
                  <div class="col s3 has-children">
                    <div class="a">Support Portal</div>
                    <ul>
                      <li><a href="https://support.volusion.com/hc/en-us/" title="Volusion Knowledge Base" data-adata="navigation_resources_link_knowledge-base">Knowledge Base</a></li>
                      <li><a href="https://support.volusion.com/hc/en-us/articles/211015617-Videos-All-Videos-Index" title="Videos: All Videos Index – Volusion Knowledge Base" data-adata="navigation_resources_link_video-tutorials">Video Tutorials</a></li>
                      <li><a href="/faqs" data-adata="navigation_resources_link_faqs" title="Volusion Frequently Asked Questions">FAQs</a></li>
                    </ul>
                  </div>
                  <div class="col s3 has-children">
                    <a href="/partner-solutions" data-adata="navigation_resources_link_apps-experts" title="Volusion Partners, Apps & Experts for your Ecommerce Store">Apps &amp; Experts</a>
                    <ul>
                      <li><a href="/marketplace" title="Volusion App Marketplace - Where you can access Volusion apps and store integrations" data-adata="navigation_resources_link_apps-integrations">Marketplace</a></li>
                      <!--  <li><a href="/partners" title="Volusion Partner Integrations and Apps" data-adata="navigation_resources_link_partners">Partners</a></li> -->
                      <li><a href="http://experts.volusion.com" title="Volusion Experts" data-adata="navigation_resources_link_experts">Experts</a></li>
                      <li><a href="/become-partner" title="Become a Partner with Volusion Ecommece Software" data-adata="navigation_resources_link_become-a-partner">Become a Partner</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
            <!-- .desktop nav-->
          </div>
          <!-- .col -->
          <div class="col-icons col xs0 m1-half offset-m0-half hide-on-small-and-down">
            <ul class="row margin-bottom-0">
              <li class="col xs4 has-children">
                <a onclick="return VolusionChat.startLink();" title="Live Chat" data-adata="navigation_link_chat-now">
                  <img src="https://volusion.com/assets/images/global-nav-chat.svg" width="24" height="20" alt="Live Chat Now" class="responsive-img nav-chat" />
                  <!-- <div class="global-nav-chat"></div> -->
                  <span class="icon-drop-down"><span class="arrow"></span>Live Chat Now!</span>
                </a>
              </li>
              <li class="col xs4 has-children">
                <a href="tel:+18006463517" title="1-800-646-3517" data-adata="navigation_link_contact-number">
                  <img src="https://volusion.com/assets/images/global-nav-phone.svg" class="responsive-img" alt="1-800-646-3517" width="14" height="20" />
                  <!-- <div class="global-nav-phone"></div> -->
                  <span class="icon-drop-down"><span class="arrow"></span>1-800-646-3517</span>
                </a>
              </li>
              <li class="col xs4">
                <a href="http://store.volusion.com/ShoppingCart.asp" data-adata="navigation_link_view-cart" title="Shopping Cart">
                  <img src="https://volusion.com/assets/images/global-nav-cart.svg" class="responsive-img nav-cart" alt="Shopping Cart" width="20" height="20" />
                  <!-- <div class="global-nav-cart"></div> -->
                </a>
              </li>
            </ul>
          </div>
          <!-- .col -->
          <div class="col-login col xs4 m1 text-center hide-on-small-and-down">
            <p class="margin-0"><a href="http://my.volusion.com/" class="js-toggle-cta" title="Free Trial by Volusion Ecommerce Software" data-new-url="/free-trial" data-new-cta="Login" data-adata="navigation_link_login">Login</a></p>
          </div>
          <!-- .col -->
          <div class="col-button col xs4 m1-half padding-0 text-center mtext-right">
            <a class="btn text-white red padding-0 full-width js-toggle-cta" href="/free-trial" data-new-cta="Buy now" data-new-url="/hosting-plans-pricing" title="Try It Free" data-adata="navigation_link_try-it-free">Try it free</a>
          </div>
          <!-- .col -->
          <div class="col-contact col xs9 m4 text-center mtext-right right">
            <p class="margin-0">Contact Us: <a href="tel:+18006463517" data-adata="navigation_link_solo-contact-number" class="text-teal">1-800-646-3517</a></p>
          </div>
          <!-- .col -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </nav>
    <!-- nav -->
  </div>
  <!-- .navbar-fixed -->
</header>