<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--https version-->
<meta name="google-site-verification" content="oSaFsYGp1kp211p_gENrdMb0L2NY604Itz226sBdhdk" />
<!--http version-->
<meta name="google-site-verification" content="P2pGGGk8M13-z6svZm-EeRAj55T3t8Fdaz2xOEakTgA" />

<!-- adelle sans fonts -->
<script src="https://use.typekit.net/xor7sfr.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- stylesheet -->
<link href="/assets/stylesheets/main.css" media="all" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">