.become-partner{
	.hero{
		background-image: url(/assets/images/become-partner-hero-bg.jpg);
		.container {
    	max-width: 894px;
		}

	}// hero
	.section-5{
		background-image: url(/assets/images/become-partner-bap-banner-affiliate-3.jpg);
	}//section-5
}