.ecommerce-credit-card-fraud-protection{
	.hero{
		background:url(/assets/images/ecommerce-credit-card-fraud-protection-hero-bg.jpg)no-repeat center;
		background-size:cover;
	}//hero
	.section-1,.section-2,.section-3{
		-moz-box-shadow: 0 1px 3px rgba(7,7,7,0.08);
    -webkit-box-shadow: 0 1px 3px rgba(7,7,7,0.08);
    box-shadow: 0 1px 3px rgba(7,7,7,0.08);
	}
	.section-3 .center-block{
		max-width:834px;
	}//section-3
}//ecommerce-credit-card-fraud-protection