.ecommerce-platform-comparison{
	.hero{
		background:url('/assets/images/ecommerce-platform-comparison-hero.png')no-repeat center;
		background-size:cover;
	}
	.text-indent{
		text-indent: -99999px;
	}
}